<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- <base href="/"> -->
    <link rel="icon" href="favicon.ico">
    <script src="menu.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav>
            <!-- <ng-container *ngIf="(user$ | async) === null; else logOutTemplate"></ng-container> -->
            <ul class="nav nav--hightlighted nav--sticky">
                <li class="nav__brand"><a class="" href="/"><button tabindex="0"><img
                                src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1665787878/APLogo-20-20.png"
                                width="90"></button></a><a class="rainbow_text_animated" [routerLink]="['/home']">
                        <span>Ramón Serrano.</a></li>
                <li class="nav__item">
                    <a class="nav__link" aria-current="page" href="signin.html">Sign
                        in<button class="" tabindex="1">
                            <img src="https://cdn.iconscout.com/icon/free/png-64/login-1440156-1214657.png"
                                alt="sign-in" class="login__img"></button></a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" aria-current="page" href="signup.html">Sign up<button class=""
                            tabindex="0"><img
                                src="https://cdn.iconscout.com/icon/premium/png-64-thumb/sign-up-4621286-3841288.png"
                                alt="sign-up" class="login__img"></button></a>
                </li>
                <!-- <ng-container class="container"></ng-container> -->
                <li class="nav__item"><a href="#about">About</a></li>
                <li class="nav__item"><a href="#skills">Skills</a></li>
                <li class="nav__item"><a href="#projects">Projects</a></li>
                <li class="nav__item"><a href="#contact">Contact</a></li>
                <li class="nav__item">
                    <a class="nav__link" aria-current="page" href="./" (click)="onLogout()">Logout<button class=""
                            tabindex="2"><img
                                src="https://cdn.iconscout.com/icon/premium/png-64-thumb/logout-2-110783.png"
                                alt="logout" class="login__img" (click)="onLogout()"></button></a>
                </li>

                <!-- <ng-template #logOutTemplate></ng-template> -->
            </ul>
            <div class="toggle"><i class="fas fa-2x fa-bars" data-bs-toggle="collapse"></i></div>
        </nav>
    </header>

    <main>

        <section class="auth-form">
            <div class="text-center">
                <h1 class="">Sign Up</h1>
            </div>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input formControlName="email" type="email" required class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">


                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input formControlName="password" type="password" required class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="text-center">
                    <button type="submit" class="button btn-primary btn--color">Sign Up</button>
                </div>
                <div class="text-center mt-5">
                    <ng-container *ngIf="options.id === signIn; else showSignTemplate">
                        <a href="signup.html" class="text-black">Create new account</a>
                    </ng-container>
                </div>
            </form>
            <ng-template #showSignTemplate>
                <a href="signin.html" class="text-black">
                    Already have an account? <small>Sign In here!</small>
                </a>
            </ng-template>
        </section>
    </main>
    <footer>
        <div id="contact" class="contact">

            <div>
                <li class="">
                    <div class="clock">
                        <div class="display">
                        </div>
                    </div>
                    <script>
                        setInterval(function () {
                            const clock = document.querySelector(".display");
                            let time = new Date();
                            let sec = time.getSeconds();
                            let min = time.getMinutes();
                            let hr = time.getHours();
                            let day = 'AM';
                            if (hr > 12) {
                                day = 'PM';
                                hr = hr - 12;
                            }
                            if (hr == 0) {
                                hr = 12;
                            }
                            if (sec < 10) {
                                sec = '0' + sec;
                            }
                            if (min < 10) {
                                min = '0' + min;
                            }
                            if (hr < 10) {
                                hr = '0' + hr;
                            }
                            clock.textContent = hr + ':' + min + ':' + sec + " " + day;
                        });
                    </script>
                </li>
                <iframe class="spotify" src="https://open.spotify.com/embed/playlist/0b9ZiiZoK6mkQRjXOSWkQa"
                    frameBorder="0" allowfullscreen=""
                    allow="ShuffleEnabled=true; shuffle=true; shuffle=0; autoplay=1; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>


            </div>
            <div>
                <div>
                    <!-- <h2 class="contact__title">Contact me</h2> -->
                </div><a href="mailto:ramonserrano76@gmail.com" class=""><button
                        class="btn-secondary btn--degrade   ">Contact</button></a>
                <div class="c-information">
                    <div class="links">
                        <a class="acerca_img" href="https://github.com/ramonserrano76" target="_blank"
                            rel="noopener noreferrer"></a>
                        <a class="acerca_img" href="https://www.linkedin.com/in/ramonserrano76/" target="_blank"
                            rel="noopener noreferrer"></a>
                    </div>
                </div>


            </div>
            <p class="about__paragraph">© Copyright Ramón Serrano 2022</p>
        </div>
    </footer>


</body>

</html>